<template name="gauges">
	<div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
        	<canvas id="gauge1" width="200" height="200"></canvas>
    	</div>
    	<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
    		<canvas id="gauge2" width="200" height="200"></canvas>
    	</div>
    	<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
    		<canvas id="gauge3" width="200" height="200"></canvas>
    	</div>
    	<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
    		<canvas id="gauge4" width="200" height="200"></canvas>
    	</div>
    </div>

</template>